<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Leak.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Leak.Properties.Settings>
            <setting name="csmoCalDate" serializeAs="String">
                <value>21/07/2021</value>
            </setting>
            <setting name="csmoDueDate" serializeAs="String">
                <value>21/07/2022</value>
            </setting>
            <setting name="defaultText" serializeAs="String">
                <value>-</value>
            </setting>
        </Leak.Properties.Settings>
    </userSettings>
</configuration>