<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Leak.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Leak.Properties.Settings>
            <setting name="csmoCalDate" serializeAs="String">
                <value>02/05/2021</value>
            </setting>
            <setting name="csmoDueDate" serializeAs="String">
                <value>02/04/2022</value>
            </setting>
            <setting name="defaultText" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="CH00" serializeAs="String">
                <value>CH#00  7.4KW_CCU_L</value>
            </setting>
            <setting name="CH01" serializeAs="String">
                <value>CH#01  ELECTRONIC:3000W</value>
            </setting>
            <setting name="CH02" serializeAs="String">
                <value>CH#02  COOLANT AREA:3000W</value>
            </setting>
            <setting name="CH03" serializeAs="String">
                <value>CH#03  ELECTRONIC:7.4KW</value>
            </setting>
            <setting name="CH04" serializeAs="String">
                <value>CH#04  COOLANT AREA:7.4KW</value>
            </setting>
            <setting name="CH05" serializeAs="String">
                <value>CH#05  5DH_COOL</value>
            </setting>
            <setting name="CH06" serializeAs="String">
                <value>CH#06  5DH_ELEC</value>
            </setting>
            <setting name="CH07" serializeAs="String">
                <value>CH#07  PAG_PV</value>
            </setting>
            <setting name="CH08" serializeAs="String">
                <value>CH#08  AUDI_PV</value>
            </setting>
            <setting name="CH09" serializeAs="String">
                <value>CH#09  GEN2_ELEC</value>
            </setting>
            <setting name="CH10" serializeAs="String">
                <value>CH#10  GEN2_COOL</value>
            </setting>
            <setting name="CH11" serializeAs="String">
                <value>CH#11  GEN2_COOL_H74</value>
            </setting>
            <setting name="CH12" serializeAs="String">
                <value>CH#12 BMW CCU-L</value>
            </setting>
            <setting name="CH13" serializeAs="String">
                <value>CH#13  BMW CCU-S</value>
            </setting>
            <setting name="CH14" serializeAs="String">
                <value>CH#14  REF.PL57/65</value>
            </setting>
            <setting name="CH15" serializeAs="String">
                <value>CH#15  REF.PL73/1P</value>
            </setting>
            <setting name="CH16" serializeAs="String">
                <value>CH#16  PL73-1P_K_11</value>
            </setting>
            <setting name="CH17" serializeAs="String">
                <value>CH#17  PL57/95_K_11</value>
            </setting>
            <setting name="CH18" serializeAs="String">
                <value>CH#18  PL73-1P_DES</value>
            </setting>
            <setting name="CH19" serializeAs="String">
                <value>CH#19  PL57/65_DES</value>
            </setting>
            <setting name="CH20" serializeAs="String">
                <value>CH#20  PL73-1P_DES2</value>
            </setting>
            <setting name="CH21" serializeAs="String">
                <value>CH#21  PL57/65_DES2</value>
            </setting>
            <setting name="CH22" serializeAs="String">
                <value>CH#22  NEW.PL57/65</value>
            </setting>
            <setting name="CH23" serializeAs="String">
                <value>CH#23  NEW.PL73-1P</value>
            </setting>
            <setting name="CH24" serializeAs="String">
                <value>CH#24  PV2017 PL57/65</value>
            </setting>
            <setting name="CH25" serializeAs="String">
                <value>CH#25  PV2017 PL73-1P PAG</value>
            </setting>
            <setting name="CH26" serializeAs="String">
                <value>CH#26  PIPB TEST LEAKAGE</value>
            </setting>
            <setting name="CH27" serializeAs="String">
                <value>CH#27  PV2017 PL73-1P NON</value>
            </setting>
            <setting name="CH28" serializeAs="String">
                <value>CH#28  GEN4_11KW_ELEC</value>
            </setting>
            <setting name="CH29" serializeAs="String">
                <value>CH#29  GEN4_11KW_COOLING</value>
            </setting>
            <setting name="CH30" serializeAs="String">
                <value>CH#30  GEN4_3.7KW_ELEC</value>
            </setting>
            <setting name="CH31" serializeAs="String">
                <value>CH#31  GEN4_3.7KW_COOLING</value>
            </setting>
        </Leak.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
